In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Food_Delivery_Times.csv")

In [3]:
df.sample(5)

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
778,259,11.62,Clear,Low,Afternoon,Bike,9,8.0,33
749,920,3.23,Clear,Low,NaN,Bike,7,7.0,14
697,298,4.71,Clear,Low,Morning,Bike,20,6.0,31
132,266,14.94,Clear,Medium,Morning,Bike,11,0.0,62
922,776,3.42,Clear,Medium,Night,Car,11,9.0,24